In [57]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [67]:
driver = webdriver.Chrome('chromedriver.exe')

In [68]:
url = 'https://www.naukri.com/'
driver.get(url)

In [69]:
search_job = driver.find_element_by_class_name("suggestor-input")
search_job
search_job.send_keys("Data Analyst")
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn
search_locn.send_keys("bangalore")

In [72]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn
search_btn.click()

In [73]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:4]

['Senior Marketing Data Analyst',
 'Business Data Analyst - Google Data Studio & SQL',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Data Analyst - Marketing - 6 month Contractual Role']

In [74]:
company_loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(company_loc)
location = []
for i in company_loc:
    location.append(i.text)
len(location)
location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru(Koramangala)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)']

In [75]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
company_name = []
for i in company_tags:
    company_name.append(i.text)
len(company_name)
company_name[0:10]

['Tide Software',
 'AVE-Promagne',
 'Sejal Consulting Hub',
 'Razorpay',
 'Tide Software',
 'Gojek',
 'Sollys Consulting and Solutions Pvt Ltd',
 'Wipro',
 'IHS Markit',
 'Syneos Health']

In [76]:
experiance = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(experiance)
exp = []
for i in experiance:
    exp.append(i.text)
len(exp)
exp[0:10]

['0-4 Yrs',
 '3-8 Yrs',
 '0-3 Yrs',
 '0-1 Yrs',
 '0-3 Yrs',
 '3-8 Yrs',
 '5-10 Yrs',
 '4-7 Yrs',
 '3-6 Yrs',
 '4-7 Yrs']

In [77]:
len(job_titles),len(location),len(company_name),len(exp)

(20, 20, 20, 20)

In [78]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_name
jobs['Location'] = location
jobs['Experince'] = exp
jobs[0:10]

,Job Title,Company,Location,Experince
0,Senior Marketing Data Analyst,Tide Software,Bangalore/Bengaluru,0-4 Yrs
1,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,Bangalore/Bengaluru,3-8 Yrs
2,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",0-3 Yrs
3,Data Analyst - Marketing - 6 month Contractual...,Razorpay,Bangalore/Bengaluru(Koramangala),0-1 Yrs
4,Marketing Data Analyst,Tide Software,Bangalore/Bengaluru,0-3 Yrs
5,Senior Data Analyst - CRM,Gojek,Bangalore/Bengaluru,3-8 Yrs
6,Data Analyst,Sollys Consulting and Solutions Pvt Ltd,"Hyderabad/Secunderabad, Bangalore/Bengaluru",5-10 Yrs
7,Data Analyst with SQL,Wipro,"Gurgaon/Gurugram, Bangalore/Bengaluru",4-7 Yrs
8,Sr Data Analyst II,IHS Markit,Bangalore/Bengaluru,3-6 Yrs
9,Senior Data analyst (Azure / MDM),Syneos Health,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",4-7 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

In [79]:
driver = webdriver.Chrome('chromedriver.exe')

In [80]:
url = 'https://www.naukri.com/'
driver.get(url)

In [81]:
search_job = driver.find_element_by_class_name("suggestor-input")
search_job
search_job.send_keys("Data Scientist")
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn
search_locn.send_keys("bangalore")

In [82]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn
search_btn.click()

In [83]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:4]

['Senior Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence']

In [84]:
company_loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(company_loc)
location = []
for i in company_loc:
    location.append(i.text)
len(location)
location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [85]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
company_name = []
for i in company_tags:
    company_name.append(i.text)
len(company_name)
company_name[0:10]

['GSK India',
 'IBM',
 'GSK India',
 'IBM',
 'Gojek',
 'Gojek',
 'Gojek',
 'ORMAE LLP',
 'Rakuten, Inc.',
 'News Technology Services']

In [86]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_name
jobs['Location'] = location
jobs[0:10]

,Job Title,Company,Location
0,Senior Data Scientist,GSK India,Bangalore/Bengaluru
1,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru
2,Data Scientist,GSK India,Bangalore/Bengaluru
3,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
4,Senior Data Scientist,Gojek,Bangalore/Bengaluru
5,Senior Data Scientist,Gojek,Bangalore/Bengaluru
6,Senior Data Scientist - Logistics,Gojek,Bangalore/Bengaluru
7,Senior Data Scientist,ORMAE LLP,Remote
8,Senior Data Scientist,"Rakuten, Inc.",Bangalore/Bengaluru
9,Senior Data Scientist,News Technology Services,Bangalore/Bengaluru

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [ ]:
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://www.naukri.com/'
driver.get(url)

In [ ]:
search_job = driver.find_element_by_class_name("suggestor-input")
search_job
search_job.send_keys("Data Scientist")
#search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
#search_locn
#search_locn.send_keys("bangalore")

In [ ]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn
search_btn.click()

In [ ]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
salary_check.click()

In [ ]:
locations_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/p/span[1]')
locations_check.click()

In [ ]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:4]

In [ ]:
locations_check = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locations_check)
location = []
for i in locations_check:
    location.append(i.text)
len(location)
location[0:2]

In [ ]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
company_name = []
for i in company_tags:
    company_name.append(i.text)
len(company_name)
company_name[0:10]

In [ ]:
experiance = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(experiance)
exp = []
for i in experiance:
    exp.append(i.text)
len(exp)
exp[0:10]

In [ ]:
salary = driver.find_elements_by_xpath('//span[@class="ellipsis fleft"]')
len(salary)
sal = []
for i in salary:
    sal.append(i.text)
len(sal)
sal[0:2]

In [ ]:
len(job_titles),len(location),len(company_name),len(exp),len(salary)

In [ ]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_name
jobs['Experince'] = exp
jobs['Location'] = location
jobs[0:10]

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [ ]:
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://www.flipkart.com/'
driver.get(url)

In [ ]:
search_job = driver.find_element_by_class_name("_3704LK")
search_job
search_job.send_keys("sunglasses")
search_job

In [ ]:
search = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search
search.click()

In [ ]:
brand =  driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand)

In [ ]:

brand_names = []
for i in brand:
    brand_names.append(i.text)
#len(brand_names)brand_names 
brand_names[0:4]

In [ ]:
Product_Description = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(Product_Description)

In [ ]:
product = []
for i in Product_Description:
    product.append(i.text)
product[0:4]

In [ ]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price)

In [ ]:
prices = []
for i in price:
    prices.append(i.text)
prices[0:4]

In [ ]:
brand =  driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand)

In [ ]:
brand_names = []
for i in brand:
    brand_names.append(i.text)
len(brand_names)
brand_names[0:4]

In [ ]:
Product_Description = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(Product_Description)

In [ ]:
product = []
for i in Product_Description:
    product.append(i.text)
product[0:4]

In [ ]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price)

In [ ]:
prices = []
for i in price:
    prices.append(i.text)
prices[0:4]

In [ ]:
flip = pd.DataFrame()
flip['Brand'] = brand_names 
flip['Product'] = product
flip['Price'] = prices
flip[0:100]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

In [ ]:
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://www.flipkart.com/'
driver.get(url)

In [ ]:
rating =  driver.find_elements_by_class_name("_3LWZlK")
len(rating)
#rating

In [ ]:
ratings = []
for i in rating:
    ratings.append(i.text)
ratings[0:2]

In [ ]:
reviews =  driver.find_elements_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div/div/div[4]/div/div[4]/div[1]/div/div/div[1]/p')
len(rating)
#reviews


# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.

In [ ]:
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://www.flipkart.com/'
driver.get(url)

In [ ]:
searchflip = driver.find_element_by_class_name("_3704LK")
searchflip
searchflip.send_keys("sneakers")
searchflip

In [ ]:
search = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search
search.click()

In [ ]:
brand1 =  driver.find_elements_by_class_name("_2WkVRV")
len(brand1)

In [ ]:
brands = []
for i in brand1:
    brands.append(i.text)
brands[0:40]

In [ ]:
Product_Description = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(Product_Description)

In [ ]:
product_desc = []
for i in Product_Description:
    product_desc.append(i.text)
product_desc[0:40]

In [ ]:
price1 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price1)

In [ ]:
product_price = []
for i in price1:
    product_price.append(i.text)
product_price[0:40]

In [ ]:
brand2 =  driver.find_elements_by_class_name("_2WkVRV")
len(brand2)

In [ ]:
brandss = []
for i in brand2:
    brandss.append(i.text)
brandss[0:40]

In [ ]:
Product_Description2 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(Product_Description2)

In [ ]:
product_desc2 = []
for i in Product_Description2:
    product_desc2.append(i.text)
product_desc2[0:40]

In [ ]:
price2 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price1)

In [ ]:
product_price1 = []
for i in price2:
    product_price1.append(i.text)
product_price1[0:40]

# Q7: Go to the link - https://www.myntra.com/shoes
# Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

In [ ]:
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://www.myntra.com/shoes/'
driver.get(url)

In [ ]:
Price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[1]/label')
Price_filter.click()

In [ ]:
Color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
Color_filter.click()

In [ ]:
brand1 =  driver.find_elements_by_class_name("product-brand")
len(brand1)

In [ ]:
brands = []
for i in brand1:
    brands.append(i.text)
brands[0:40]

In [ ]:
brand2 =  driver.find_elements_by_class_name("product-brand")
len(brand2)

In [ ]:
brands2 = []
for i in brand2:
    brands2.append(i.text)
brands2[0:40]

In [ ]:
Product_Description1 = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(Product_Description1)

In [ ]:
product_desc1 = []
for i in Product_Description1:
    product_desc1.append(i.text)
product_desc1[0:40]

In [ ]:
Product_Description2 = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(Product_Description2)

In [ ]:
product_desc2 = []
for i in Product_Description2:
    product_desc2.append(i.text)
product_desc2[0:40]

In [ ]:
price1 = driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
len(price1)

In [ ]:
product_price1 = []
for i in price1:
    product_price1.append(i.text)
product_price1[0:40]

In [ ]:
price2 = driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
len(price2)

In [ ]:
product_price2 = []
for i in price2:
    product_price2.append(i.text)
product_price2[0:40]

# Q8: Go to webpage https://www.amazon.in/

In [ ]:
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://www.amazon.in/'
driver.get(url)

In [ ]:
configuration = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[3]/li[12]/span/a/span')
configuration.click()

In [ ]:
confi2 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[3]/li[12]/span/a/span')
confi2.click()

In [ ]:
title = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(title)

In [ ]:
pro_title = []
for i in title:
    pro_title.append(i.text)
pro_title[0:40]

In [ ]:
ratings = driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]')
len(ratings)

In [ ]:
pro_rating = []
for i in ratings:
    pro_rating.append(i.text)
pro_rating[0:40]

In [ ]:
rate = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
len(rate)

In [ ]:
laptop_rate = []
for i in rate:
    laptop_rate.append(i.text)
laptop_rate[0:40]

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [ ]:
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [ ]:
comp_name = driver.find_elements_by_xpath('//a[@class="title noclick"]')
len(comp_names)
comp_names = []
for i in comp_name:
    comp_names .append(i.text)
len(comp_names )
comp_names [0:10]

In [ ]:
posted = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
#posted = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
#len(posted)
comp_post = []
for i in posted:
    comp_post .append(i.text)
len(comp_post)
post = comp_post [0:100:2]

In [ ]:
#rating= driver.find_elements_by_xpath('//a[@class="rating rating-4"]')
rating= driver.find_elements_by_xpath('//span[@class="body-small"]')
#len(posted)
ratings = []
for i in rating:
    ratings .append(i.text)
len(ratings)
ratings [0:10]

In [ ]:
ambition = pd.DataFrame()
ambition['Company Name'] = comp_names 
ambition['Posted'] = post
ambition['Ratings'] = ratings
ambition

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [4]:
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [45]:
comp_name1 = driver.find_elements_by_xpath('//div[@class="name"]')
#comp_name1 = driver.find_elements_by_class_name('data-v-2bae05f7')
#len(comp_names)
comp_names = []
for i in comp_name1:
    comp_names .append(i.text)
len(comp_names )
#comp_names [0:10]

10

In [56]:
min_salary  = driver.find_elements_by_xpath('//div[@class="value body-medium"]')
#total_salary = driver.find_elements_by_class_name('data-v-2bf6feb2')
#len(comp_names)
minsalary = []
for i in min_salary:
    minsalary .append(i.text)
len(salary)
minsalary [0:10:2]

['₹ 17.7L', '₹ 15.0L', '₹ 9.8L', '₹ 9.5L', '₹ 11.0L']

In [55]:
avg_salary  = driver.find_elements_by_xpath('//div[@class="value body-medium"]')
#comp_name1 = driver.find_elements_by_class_name('data-v-2bf6feb2')
#len(comp_names)
avg = []
for i in avg_salary:
    avg .append(i.text)
len(avg)
salary [0:10]

['₹ 17.7L',
 '₹ 35.0L',
 '₹ 15.0L',
 '₹ 25.0L',
 '₹ 9.8L',
 '₹ 20.0L',
 '₹ 9.5L',
 '₹ 22.0L',
 '₹ 11.0L',
 '₹ 21.3L']